.cartPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cartContent {
    display: flex;
    flex-direction: row;
}

.cartContent {
    display: flex;
    flex-direction: row;
}

.cartForm {
    margin: 15px;
    padding: 10px;
}

.cartForm input {
    margin-bottom: 10px;
}

.cartMainContainer {
    color:black;
}