.spanCart {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    top: 26px;
    right: 25px;
    z-index: 5000;
}
