.mainContainer {
    color: black;
    width: 270px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 30px;
    padding-bottom: 150px;
}

.picture {
    width: 230px;
    border-radius: 5px;
    margin-bottom: 10px;
}
