.carrusel {
  width: 100%;
  height: 100vh;
}

.carrusel-1 {
  background-image: url("./Img/Img1.png"); /*esto no funciona :(*/
  background-size: cover;
  background-position: center;
}

.carrusel-2 {
  background-image: url("./Img/Img2.jpg");
  background-size: cover;
  background-position: center;
}

.carrusel-3 {
  background-image: url("./Img/Img3.png");
  background-size: cover;
  background-position: center;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  margin: 0 10px;
}
.carousel-caption h3 {
  color: white;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}
.carousel-caption p {
  color: white;
  font-size: 18px;
}
